<h1>新規投稿</h1>

<div class="post">
  <form action="/post" method="post" enctype="multipart/form-data" class="">
    <label>タイトル</label>
    <input type="text" class="form-control" name="title">
    <br>
    <label>内容</label>
    <textarea class="form-control" name="body"></textarea>
    <br>
    <label>メイン画像</label>
    <input type="file" class="form-control" name="file">
    <br>
    <button type="submit" class="btn btn-success btn">投稿</button>
  </form>
</div>